.navbarWrapper {
  background-color: #222222;
  border-top: 3px solid #0EBBEF;
}

.navbar {
  color: #262F38;
  padding: 0 7rem;
}

.mainNav {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}

.mainNav > li {
  position: relative;
}

.mainNav button {
  background-color: transparent;
  border: 0;
  color: #fff;
  font-weight: 600;
  font-size: 1.8rem;
  cursor: pointer;
  font-family: inherit;
}

.mainNav .dropdownNav a {
  display: block;
  color: #DBDBDB;
  text-decoration: none;
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: 500;
  padding: .5rem 0;
}

.dropdownNav {
  list-style: none;
  padding: 2rem;
  width: 20rem;
  background-color: #000;
  position: absolute;
  top: 4.7rem;
  left: 50%;
  transform: translateX(-50%);
  list-style-type: none;
}

.dropdownNav li {
  position: relative;
}

.dropdownNav li.topsMen:hover .multiDropdownNav, .dropdownNav li.topsWomen:hover .multiDropdownNav, .dropdownNav li.bottomsMen:hover .multiDropdownNav, .dropdownNav li.bottomsWomen:hover .multiDropdownNav, .dropdownNav li.jewelryMen:hover .multiDropdownNav, .dropdownNav li.jewelryWomen:hover .multiDropdownNav, .dropdownNav li.accessoriesMen:hover .multiDropdownNav, .dropdownNav li.accessoriesWomen:hover .multiDropdownNav {
  display: block;
}

.multiDropdownNav {
  display: none;
  list-style: none;
  position: absolute;
  top: 0;
  left: 18rem;
  padding: 2rem;
  width: 20rem;
  background-color: #222222;
}

