
.orderDetailsScreen {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-gap: 3rem;
  background-color: #F5F5F5;
}

.orderDetailsRight h4 {
  color: #484C50;
  font-weight: 600;
  margin: 2rem 0;
}

.orderAllLists {
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  grid-gap: 10rem;
}

.orderAllLists ul {
  border: 1px solid #C9D2D9;
  list-style-type: none;
  padding: 3rem;
  border-radius: 1rem;
  margin-bottom: 5rem;
}

.orderAllLists ul li {
  display: grid;
  grid-template-columns: 0.7fr 0.3fr 0.3fr 0.5fr;
  grid-gap: 2rem;
  text-transform: capitalize;
  font-size: 1.6rem;
  margin-bottom: 3rem;
}

